<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>CS480 Demo</display-name>
	<servlet>
		<description></description>
		<display-name>Entity1ServletCreate</display-name>
		<servlet-name>Entity1ServletCreate</servlet-name>
		<servlet-class>entity1.web.servlet.Entity1ServletCreate</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Entity1ServletCreate</servlet-name>
		<url-pattern>/Entity1ServletCreate</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>Entity1ServletRead</display-name>
		<servlet-name>Entity1ServletRead</servlet-name>
		<servlet-class>entity1.web.servlet.Entity1ServletRead</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Entity1ServletRead</servlet-name>
		<url-pattern>/Entity1ServletRead</url-pattern>
	</servlet-mapping>



	<servlet>
		<description></description>
		<display-name>Entity1ServletUpdate</display-name>
		<servlet-name>Entity1ServletUpdate</servlet-name>
		<servlet-class>entity1.web.servlet.Entity1ServletUpdate</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Entity1ServletUpdate</servlet-name>
		<url-pattern>/Entity1ServletUpdate</url-pattern>
	</servlet-mapping>


	<servlet>
		<description></description>
		<display-name>Entity1ServletDelete</display-name>
		<servlet-name>Entity1ServletDelete</servlet-name>
		<servlet-class>entity1.web.servlet.Entity1ServletDelete</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Entity1ServletDelete</servlet-name>
		<url-pattern>/Entity1ServletDelete</url-pattern>
	</servlet-mapping>









	<servlet>
		<description></description>
		<display-name>UserServletRegister</display-name>
		<servlet-name>UserServletRegister</servlet-name>
		<servlet-class>user.web.servlet.UserServletRegister</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserServletRegister</servlet-name>
		<url-pattern>/UserServletRegister</url-pattern>
	</servlet-mapping>










	<servlet>
		<description></description>
		<display-name>DonorServletCreate</display-name>
		<servlet-name>DonorServletCreate</servlet-name>
		<servlet-class>donor.DonorServletCreate</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DonorServletCreate</servlet-name>
		<url-pattern>/DonorServletCreate</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>DonorServletRead</display-name>
		<servlet-name>DonorServletRead</servlet-name>
		<servlet-class>donor.DonorServletRead</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DonorServletRead</servlet-name>
		<url-pattern>/DonorServletRead</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>DonorServletUpdate</display-name>
		<servlet-name>DonorServletUpdate</servlet-name>
		<servlet-class>donor.DonorServletUpdate</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DonorServletUpdate</servlet-name>
		<url-pattern>/DonorServletUpdate</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>DonorServletDelete</display-name>
		<servlet-name>DonorServletDelete</servlet-name>
		<servlet-class>donor.DonorServletDelete</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DonorServletDelete</servlet-name>
		<url-pattern>/DonorServletDelete</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>DonorServletSimpleQuery</display-name>
		<servlet-name>DonorServletSimpleQuery</servlet-name>
		<servlet-class>donor.DonorServletSimpleQuery</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DonorServletSimpleQuery</servlet-name>
		<url-pattern>/DonorServletSimpleQuery</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>DonorServletAggQuery</display-name>
		<servlet-name>DonorServletAggQuery</servlet-name>
		<servlet-class>donor.DonorServletAggQuery</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DonorServletAggQuery</servlet-name>
		<url-pattern>/DonorServletAggQuery</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>DonorServletComplexQuery</display-name>
		<servlet-name>DonorServletComplexQuery</servlet-name>
		<servlet-class>donor.DonorServletComplexQuery</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DonorServletComplexQuery</servlet-name>
		<url-pattern>/DonorServletComplexQuery</url-pattern>
	</servlet-mapping>













	<servlet>
		<description></description>
		<display-name>InitializeServletDB</display-name>
		<servlet-name>InitializeServletDB</servlet-name>
		<servlet-class>initialize.web.servlet.InitializeServletDB</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>InitializeServletDB</servlet-name>
		<url-pattern>/InitializeServletDB</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>UserServletLogin</display-name>
		<servlet-name>UserServletLogin</servlet-name>
		<servlet-class>user.web.servlet.UserServletLogin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserServletLogin</servlet-name>
		<url-pattern>/UserServletLogin</url-pattern>
	</servlet-mapping>


	<servlet>
		<description></description>
		<display-name>UserServletLogout</display-name>
		<servlet-name>UserServletLogout</servlet-name>
		<servlet-class>user.web.servlet.UserServletLogout</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserServletLogout</servlet-name>
		<url-pattern>/UserServletLogout</url-pattern>
	</servlet-mapping>















<servlet>
		<description></description>
		<display-name>ReceiverServletCreate</display-name>
		<servlet-name>ReceiverServletCreate</servlet-name>
		<servlet-class>receiver.ReceiverServletCreate</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ReceiverServletCreate</servlet-name>
		<url-pattern>/ReceiverServletCreate</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>ReceiverServletRead</display-name>
		<servlet-name>ReceiverServletRead</servlet-name>
		<servlet-class>receiver.ReceiverServletRead</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ReceiverServletRead</servlet-name>
		<url-pattern>/ReceiverServletRead</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>ReceiverServletUpdate</display-name>
		<servlet-name>ReceiverServletUpdate</servlet-name>
		<servlet-class>receiver.ReceiverServletUpdate</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ReceiverServletUpdate</servlet-name>
		<url-pattern>/ReceiverServletUpdate</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>ReceiverServletDelete</display-name>
		<servlet-name>ReceiverServletDelete</servlet-name>
		<servlet-class>receiver.ReceiverServletDelete</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ReceiverServletDelete</servlet-name>
		<url-pattern>/ReceiverServletDelete</url-pattern>
	</servlet-mapping>
	
	
	
	<servlet>
		<description></description>
		<display-name>VolunteerServlet</display-name>
		<servlet-name>VolunteerServlet</servlet-name>
		<servlet-class>volunteer.VolunteerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>VolunteerServlet</servlet-name>
		<url-pattern>/VolunteerServlet/Read</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>VolunteerServlet</display-name>
		<servlet-name>VolunteerServlet</servlet-name>
		<servlet-class>volunteer.VolunteerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>VolunteerServlet</servlet-name>
		<url-pattern>/VolunteerServlet/Add</url-pattern>
	</servlet-mapping>
		<servlet>
		<description></description>
		<display-name>VolunteerServlet</display-name>
		<servlet-name>VolunteerServlet</servlet-name>
		<servlet-class>volunteer.VolunteerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>VolunteerServlet</servlet-name>
		<url-pattern>/VolunteerServlet/Delete</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>VolunteerServlet</display-name>
		<servlet-name>VolunteerServlet</servlet-name>
		<servlet-class>volunteer.VolunteerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>VolunteerServlet</servlet-name>
		<url-pattern>/VolunteerServlet/Update</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<description></description>
		<display-name>VolunteerServlet</display-name>
		<servlet-name>VolunteerServlet</servlet-name>
		<servlet-class>volunteer.VolunteerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>VolunteerServlet</servlet-name>
		<url-pattern>/VolunteerServlet/Queries/Simple</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<description></description>
		<display-name>VolunteerServlet</display-name>
		<servlet-name>VolunteerServlet</servlet-name>
		<servlet-class>volunteer.VolunteerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>VolunteerServlet</servlet-name>
		<url-pattern>/VolunteerServlet/Queries/Aggregate</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<description></description>
		<display-name>VolunteerServlet</display-name>
		<servlet-name>VolunteerServlet</servlet-name>
		<servlet-class>volunteer.VolunteerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>VolunteerServlet</servlet-name>
		<url-pattern>/VolunteerServlet/Queries/Complex</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<description></description>
		<display-name>UsersServlet</display-name>
		<servlet-name>UsersServlet</servlet-name>
		<servlet-class>users.UsersServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UsersServlet</servlet-name>
		<url-pattern>/UsersServlet/Read</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>UsersServlet</display-name>
		<servlet-name>UsersServlet</servlet-name>
		<servlet-class>users.UsersServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UsersServlet</servlet-name>
		<url-pattern>/UsersServlet/Add</url-pattern>
	</servlet-mapping>
		<servlet>
		<description></description>
		<display-name>UsersServlet</display-name>
		<servlet-name>UsersServlet</servlet-name>
		<servlet-class>users.UsersServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UsersServlet</servlet-name>
		<url-pattern>/UsersServlet/Delete</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>UsersServlet</display-name>
		<servlet-name>UsersServlet</servlet-name>
		<servlet-class>users.UsersServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UsersServlet</servlet-name>
		<url-pattern>/UsersServlet/Update</url-pattern>
	</servlet-mapping>
	
	
	
	
	<servlet>
		<description></description>
		<display-name>FoodServlet</display-name>
		<servlet-name>FoodServlet</servlet-name>
		<servlet-class>food.web.servlet.FoodServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FoodServlet</servlet-name>
		<url-pattern>/FoodServlet/Read</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>FoodServlet</display-name>
		<servlet-name>FoodServlet</servlet-name>
		<servlet-class>food.web.servlet.FoodServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FoodServlet</servlet-name>
		<url-pattern>/FoodServlet/Add</url-pattern>
	</servlet-mapping>
		<servlet>
		<description></description>
		<display-name>FoodServlet</display-name>
		<servlet-name>FoodServlet</servlet-name>
		<servlet-class>food.web.servlet.FoodServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FoodServlet</servlet-name>
		<url-pattern>/FoodServlet/Delete</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>FoodServlet</display-name>
		<servlet-name>FoodServlet</servlet-name>
		<servlet-class>food.web.servlet.FoodServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FoodServlet</servlet-name>
		<url-pattern>/FoodServlet/Update</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<description></description>
		<display-name>FoodServlet</display-name>
		<servlet-name>FoodServlet</servlet-name>
		<servlet-class>food.web.servlet.FoodServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FoodServlet</servlet-name>
		<url-pattern>/FoodServlet/Queries/Simple</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<description></description>
		<display-name>FoodServlet</display-name>
		<servlet-name>FoodServlet</servlet-name>
		<servlet-class>food.web.servlet.FoodServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FoodServlet</servlet-name>
		<url-pattern>/FoodServlet/Queries/Aggregate</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<description></description>
		<display-name>FoodServlet</display-name>
		<servlet-name>FoodServlet</servlet-name>
		<servlet-class>food.web.servlet.FoodServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FoodServlet</servlet-name>
		<url-pattern>/FoodServlet/Queries/Complex</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<description></description>
		<display-name>FoodOrderServlet</display-name>
		<servlet-name>FoodOrderServlet</servlet-name>
		<servlet-class>food_order.web.servlet.FoodOrderServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FoodOrderServlet</servlet-name>
		<url-pattern>/FoodOrderServlet/Read</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>FoodOrderServlet</display-name>
		<servlet-name>FoodOrderServlet</servlet-name>
		<servlet-class>food_order.web.servlet.FoodOrderServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FoodOrderServlet</servlet-name>
		<url-pattern>/FoodOrderServlet/Add</url-pattern>
	</servlet-mapping>
		<servlet>
		<description></description>
		<display-name>FoodOrderServlet</display-name>
		<servlet-name>FoodOrderServlet</servlet-name>
		<servlet-class>food_order.web.servlet.FoodOrderServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FoodOrderServlet</servlet-name>
		<url-pattern>/FoodOrderServlet/Delete</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>FoodOrderServlet</display-name>
		<servlet-name>FoodOrderServlet</servlet-name>
		<servlet-class>food_order.web.servlet.FoodOrderServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FoodOrderServlet</servlet-name>
		<url-pattern>/FoodOrderServlet/Update</url-pattern>
	</servlet-mapping>



<servlet>
		<description></description>
		<display-name>MessageServletCreate</display-name>
		<servlet-name>MessageServletCreate</servlet-name>
		<servlet-class>interaction.InteractionServletCreate</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MessageServletCreate</servlet-name>
		<url-pattern>/MessageServletCreate</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>MessageServletRead</display-name>
		<servlet-name>MessageServletRead</servlet-name>
		<servlet-class>interaction.InteractionServletRead</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MessageServletRead</servlet-name>
		<url-pattern>/MessageServletRead</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>MessageServletUpdate</display-name>
		<servlet-name>MessageServletUpdate</servlet-name>
		<servlet-class>interaction.InteractionServletUpdate</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MessageServletUpdate</servlet-name>
		<url-pattern>/MessageServletUpdate</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>MessageServletDelete</display-name>
		<servlet-name>MessageServletDelete</servlet-name>
		<servlet-class>interaction.InteractionServletDelete</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MessageServletDelete</servlet-name>
		<url-pattern>/MessageServletDelete</url-pattern>
	</servlet-mapping>
	
	
	
	
	
	
	
	
	
	<servlet>
		<description></description>
		<display-name>RestaurantServletCreate</display-name>
		<servlet-name>RestaurantServletCreate</servlet-name>
		<servlet-class>restaurant.RestaurantServletCreate</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RestaurantServletCreate</servlet-name>
		<url-pattern>/RestaurantServletCreate</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>RestaurantServletRead</display-name>
		<servlet-name>RestaurantServletRead</servlet-name>
		<servlet-class>restaurant.RestaurantServletRead</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RestaurantServletRead</servlet-name>
		<url-pattern>/RestaurantServletRead</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>RestaurantServletUpdate</display-name>
		<servlet-name>RestaurantServletUpdate</servlet-name>
		<servlet-class>restaurant.RestaurantServletUpdate</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RestaurantServletUpdate</servlet-name>
		<url-pattern>/RestaurantServletUpdate</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>RestaurantServletDelete</display-name>
		<servlet-name>RestaurantServletDelete</servlet-name>
		<servlet-class>restaurant.RestaurantServletDelete</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RestaurantServletDelete</servlet-name>
		<url-pattern>/RestaurantServletDelete</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<description></description>
		<display-name>RestaurantServletSimpleQuery</display-name>
		<servlet-name>RestaurantServletSimpleQuery</servlet-name>
		<servlet-class>restaurant.RestaurantServletSimpleQuery</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RestaurantServletSimpleQuery</servlet-name>
		<url-pattern>/RestaurantServletSimpleQuery</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>RestaurantServletAggQuery</display-name>
		<servlet-name>RestaurantServletAggQuery</servlet-name>
		<servlet-class>restaurant.RestaurantServletAggQuery</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RestaurantServletAggQuery</servlet-name>
		<url-pattern>/RestaurantServletAggQuery</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>RestaurantServletComplexQuery</display-name>
		<servlet-name>RestaurantServletComplexQuery</servlet-name>
		<servlet-class>restaurant.RestaurantServletComplexQuery</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RestaurantServletComplexQuery</servlet-name>
		<url-pattern>/RestaurantServletComplexQuery</url-pattern>
	</servlet-mapping>
	

















	<servlet>
		<description></description>
		<display-name>findAll</display-name>
		<servlet-name>findAll</servlet-name>

		<servlet-class>user.web.servlet.findAll</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>findAll</servlet-name>
		<url-pattern>/findAll</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>login.jsp</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
